@font-face {
    font-family: 'secular_oneregular';
    src: url('secularone-regular-webfont.woff2') format('woff2'),
         url('secularone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: 'secular_oneregular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    }