@font-face {
    font-family: 'secular_oneregular';
    src: url('secularone-regular-webfont.woff2') format('woff2'),
         url('secularone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
        font-family: 'Arimo';
        src: url('Arimo-Regular.woff2') format('woff2'),
            url('Arimo-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }